<div class='planning'>
    <page-heading text='P&L OVERVIEW' ></page-heading>
    <div class='px-2  pt-1'>
        <table class='table'>
            <tbody>
                <tr>
                    <td>Company</td>
                    <td><hmx-select-box model="$ctrl.user" placeholder="Type or search" data="$ctrl.users" on-open="$ctrl.loadUsers()" path="name"></hmx-select-box>
                    <td>Type</td>
                    <td>
                       <label>
                           <input type="radio" name="optradio">Region
                       </label>
                       <label>
                           <input type="radio" name="optradio">Category
                       </label>
                       <label>
                           <input type="radio" name="optradio">Platform
                       </label>
                    </td>
                </tr>
                <tr>
                    <td>Region</td>
                    <td>
                        <div>
                            <md-autocomplete md-selected-item="$ctrl.selectedItem" md-min-length="0" md-item-text="item.name" placeholder="Type or search"
                                md-search-text="searchText" md-items="item in $ctrl.searchUsers(searchText)">
                                <md-item-template>
                                    <span md-highlight-text="searchText">{{item.name}}</span>
                                </md-item-template>
                                
                            </md-autocomplete>
                            <md-icon>search</md-icon>
                        </div>
                    </td>
                    <td>Model</td>
                    <td>
                        <input class='md-input'>
                    </td>
                </tr>
                <tr>
                    <td>Platform</td>
                    <td><hmx-select-box model="$ctrl.user" placeholder="Type or search" data="$ctrl.users" on-open="$ctrl.loadUsers()" path="name"></hmx-select-box>
                    <td>Status</td>
                    <td>
                            <hmx-select-box model="$ctrl.user" placeholder="Type or search" data="$ctrl.users" on-open="$ctrl.loadUsers()" path="name"></hmx-select-box>
                    </td>
                </tr>
            </tbody>
        </table>

        <row>
                <column flex="20">
                    <label class='form-label'>Manufacture</label>
                    <hmx-select-box model="$ctrl.user" placeholder="Type or search" data="$ctrl.users" on-open="$ctrl.loadUsers()" path="name"></hmx-select-box>
                    <pal-select-box id="0310" default="test value"></pal-select-box>
                </column>
                <column>
                    <label  class='form-label'>Region</label>
                    <input class="md-input" placeholder="Username">
                </column>
        
                <column>
                    <label>Customer</label>
                    <md-autocomplete md-selected-item="$ctrl.selectedItem" md-min-length="0" md-item-text="item.name" placeholder="Type or search"
                        md-search-text="searchText" md-items="item in $ctrl.searchUsers(searchText)">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </column>
            </row>
    </div>

	<!-- <h3>Row end:</h3>
	<row-end>
		<md-button class='md-flat md-secondary' ng-click="$ctrl.showConfirm()">Cancel</md-button>
		<md-button md-no-ink class='md-flat md-primary' ng-click="$ctrl.showAlert()">Submit</md-button>
	</row-end>
    <br/>
    <row>
        <md-button class="md-button md-raised md-primary" ng-click="$ctrl.generateScheduleChart()">Generate schedule chart</md-button>
    </row> -->
    <!-- <hmx-scheduler data="$ctrl.scheduleData"></hmx-scheduler>

	<h3>Equal columns:</h3>



	<row>
		<column>
			<label>Product Code</label>
			<input class="md-input" placeholder="Username">
		</column>

		<column>
			<label>Customer</label>
			<md-autocomplete md-selected-item="$ctrl.selectedItem" md-min-length="0" md-item-text="item.name" placeholder="Type or search"
			    md-search-text="searchText" md-items="item in $ctrl.searchUsers(searchText)">
				<md-item-template>
					<span md-highlight-text="searchText">{{item.name}}</span>
				</md-item-template>
			</md-autocomplete>
		</column>
	</row>


	<br/>
	<md-datepicker ng-model="$ctrl.myDate" md-placeholder="Type or search"></md-datepicker>

	<br/>
	<md-checkbox class="md-primary" ng-model="$ctrl.cb1" aria-label="Checkbox 1">Test</md-checkbox>

	<hmx-chips data="$ctrl.data" display="name" closeable="true" active="active" on-item-click="$ctrl.toggleActive(item)"></hmx-chips>
	<row>
		<md-button class='md-raised' ng-click="$ctrl.addChip()">Add item</md-button>
	</row>
	<br/>

	<row>
		<column flex="noshrink">
			<h3>Test</h3>
		</column>
		<column>
			<hmx-grid options="$ctrl.gridOptions" class="find-select-grid" selected-rows="$ctrl.selectedRows"></hmx-grid>
		</column>

	</row>
	<column>
		<hmx-colchart options="$ctrl.chartOptions">Placeholder for highcharts</hmx-colchart>
	</column>
	<hmx-colchart options="$ctrl.chartOptions2">Placeholder for highcharts</hmx-colchart>

	<hmx-piechart options="$ctrl.piechartOptions"></hmx-piechart> -->

</div>
