.full-height {
    height:100%;
}

/*sizing utilities*/

.padding-2em {
	padding: 2em;
}

.mx-1 {
    margin-left:1em;
    margin-right:1em;
}

.px-1 {
    padding-left:1em;
    padding-right:1em;
}
.px-2 {
    padding-left:2em;
    padding-right:2em;
}

.pt-1 {
    padding-top:1em;
}

.mt-1 {
    margin-top:1em;
}

.mb-1 {
    margin-bottom:1em;
}

.my-1 {
    margin-top:1em;
    margin-bottom:1em;
}

.margin-left-2em {
	margin-left: 2em;
}

.margin-left-0 {
	margin-left: 0;
}
