.scheduler-wrap {
	border: 1px solid #ccc;
	position: relative;
}

.scheduler-sidebar {
	position: absolute;
	background: white;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	z-index: 9;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.scheduler-sidebar__header {
	padding: 2em 5em;
	border-bottom: 1px solid #ddd;
}

.scheduler-main {
	position: relative;
	margin-left: 217px;
}

#scheduler-scales {
	display: flex;
	overflow: hidden;
	color: gray;
	width: 100%;
	flex-direction: column;
	flex-flow: column-reverse;
	height: calc(5em + 4px);
}

#scheduler-scales>* {
	flex: 1 1 auto;
}

.month-scale>*,
.quarter-scale>*,
.year-scale>* {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	border-left: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.month-scale {
	display: flex;
	&>* {
		min-width: 60px;
	}
}

.quarter-scale {
	display: flex;
	&>div {
		min-width: 180px;
	}
}

.year-scale {
	display: flex;
	&>div {
		min-width: 720px;
	}
}

.schedule-item {
	position: absolute;
	display: flex;
	height: 100%;
}

.schedule-step {
	height: calc(100% - 5px);
	margin-top: 2px;
	box-sizing: border-box;
	padding-left: 1em;
	position: relative;
	padding-top: 6px;
	text-align: left;
}

.schedule-step:before,
.schedule-step:after {
	position: absolute;
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
}

.schedule-step:before {
	transform: rotate(180deg);
	right: 0;
	bottom: 0px;
}

.schedule-step:not(:first-child) i:after,
.schedule-step:not(:first-child) i::before {
	position: absolute;
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #08a3e8;
}

.schedule-step:last-child i:after {
	transform: rotate(180deg);
	left: -17px;
	bottom: 0px;
}

.schedule-step:last-child i:before {
	transform: rotate(90deg);
	left: -16px;
	top: 0px;
}

.schedule-step:nth-child(2) i:after {
	transform: rotate(180deg);
	left: -17px;
	bottom: 0px;
	border-left: 20px solid #2F5597;
}

.schedule-step:nth-child(2) i:before {
	transform: rotate(90deg);
	left: -16px;
	top: 0px;
	border-left: 20px solid #2F5597;
}

.schedule-step:after {
	transform: rotate(90deg);
	right: 0;
	bottom: 15px;
}

.schedule-step:first-child {
	background: #6bcdcc;
}

.schedule-step:last-child {
	background: #08a3e8;
}

.schedule-step:nth-child(2) {
	background: #2F5597;
	color: white;
}

.scheduler-sidebar__content {
	text-align: left;
	text-indent: 5px;
	overflow: hidden;
	height: calc(100% - 5em);
}

#schedule-list-container {
	overflow: auto;
	-ms-overflow-style: scrollbar;
}

.schedule-sidebar__item{
    font-weight: bold;
    text-indent: .5em;
	width: 100%;
}

.schedule-sidebar__sub-item {
	width: 100%;
	text-indent: 2em;
}

#sidebar-item-container {
	overflow: hidden;
}

#sidebar-item-container>div {
	border-bottom: 1px solid #efefef;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.vrow {
	border-bottom: 1px solid #efefef;
	box-sizing: border-box;
	background-size: 60px 100%;
	background-image: linear-gradient(to right, #eee 0%, transparent 4%, transparent 100%);
}
