

layout {
	height: 100vh;
    display:flex;
}

.sidebar {
    background-color: #2C304B;
}

.content {
    flex-grow: 1;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
}

.content-header {
    background-color: #ccc;
    flex:none;
}

.content-main {
    overflow:hidden;
    position: relative;
    flex:1;
}

